@import '../styles.scss';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 16px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $toolbar-height;
}
