@use '../../../styles' as *;

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - #{$toolbar-height});
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  width: max-content;
}

.overlay h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 600px) {
  .overlay h1 {
    font-size: 1.2rem;
  }
}
